<header class="header">
	<div class="header__bg"></div>
	<div class="container container--header">
		<div class="header__logo">
			<img src="img/logo.svg" alt="Logo"/>
		</div>
		<nav class="header__nav">
			<ul class="heeader__menu menu">
				<li class="menu__item">
					<a href="#" class="menu__link">Home</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">About</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Blaubergselector</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Global Site</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Product</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Contact Us</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header__strips">
		<img class="header__strip header__strip--left" src="img/scrip-left.png" alt="Strip-left">
		<img class="header__strip header__strip--right" src="img/strip-right.png" alt="Strip-right">
	</div>
</header>