<section class="section ceileo">
	<div class="section__brands">
		<img class="brand" src="img/brand-1.png" alt="Brand-1"/>
		<img class="brand" src="img/brand-2.png" alt="Brand-2"/>
	</div>
	<div class="section__product product">
		<img class="section__strip section__strip--left" src="img/scrip-left.png" alt="Strip-left">
		<div class="product__img"></div>
		<div class="product__body">
			<h1 class="product__title">Bath exhaust fans (up to 150 cfm)</h1>
			<p class="product__desc">
					Ceileo: ceiling bathroom fans with air-flow capacity up to 150 CFM. 
					Features: лого технологий “Speed Select Technology”, “DC Motor 
					Technology”, “Air Flow Adjust Technology”, “LED light technology”, 
					“Smart Control Technology”, “Timer”, “Plugin Modules”.
			</p>
			<a class="product__btn btn" href="#">More</a>
		</div>
	</div>
	<div class="section__logos">
		<img class="brand" src="img/logos/logos-1.svg" alt="Brand-2"/>
	</div>
</section>

<script>
	window.onscroll = function() {
  var scrolled = window.pageYOffset || document.documentElement.scrollTop;
  if(scrolled == 600 ){
	  alert(scrolled);
  }
}
</script>