<section class="slider js-slider">
		<div class="slider__item"><img class="slider__img" src="img/slide-1.png"  alt="Slide-1">
		<div class="slider__descr">
			<h1 class="slider__title">Caring for our planet</h1>
			<p class="slider__text">
				Blauberg evergy-saving ventilation solution help to reduce the use of 
				non-renewable energy sources by clozens of times, making our planet green.
			</p>
		</div>
		</div>
		<div class="slider__item"><img class="slider__img" src="img/slide-2.jpg"  alt="Slide-2">
			<div class="slider__descr">
				<h1 class="slider__title">Caring for our planet</h1>
				<p class="slider__text">
					Blauberg evergy-saving ventilation solution help to reduce the use of 
					non-renewable energy sources by clozens of times, making our planet green.
				</p>
			</div>
		</div>
		<div class="slider__item"><img class="slider__img" src="img/slide-3.jpg"  alt="Slide-3">
			<div class="slider__descr">
				<h1 class="slider__title">Caring for our planet</h1>
				<p class="slider__text">
					Blauberg evergy-saving ventilation solution help to reduce the use of 
					non-renewable energy sources by clozens of times, making our planet green.
				</p>
			</div>
		</div>
</section>