.header{
    position: relative;
    height: 100vh;
    max-width: 100vw;

    &__bg{
        overflow: hidden;
        position: absolute;
        background: linear-gradient(to bottom, rgba(72,217,234,1) 10%, rgb(47, 4, 236) 100%);
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }

    &__logo{
        z-index: 9;
    }
    
    &__nav{
        z-index: 9;
    }
    & .container--header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    & .menu{
        display: flex;
        flex-flow: row wrap;

        &__item{
            list-style: none;
            text-transform: uppercase;
            margin-left: 30px;
            font-size: 17px;
            font-family: Helvetica;
        }
        &__link{
            text-decoration: none;
            color: white;
        }
    }

    &__strips{
        margin-top: 30vh;

        &-container{
            position: relative;
        }
    }
    
    &__strip{
        position: absolute;
        height: 150px;

        &--left{
            left: -62vw;
            width: 62vw;
        }
        &--right{
            right: -7vw;
            width: 7vw;
        }
    }
    &__video{
        position: absolute;
        top: -150px;
        display: none;
    }

    &__title{
        position: absolute;
        left: 55vw;
        max-width: 17vw;
        margin: 0;
        text-transform: uppercase;
        color: white;
        display: none;
    }

    &__frame{
        position: absolute;
        right: 0;
        width: 270px;
        top: -130px;
        display: none;
    }

    & .js-menu{
        display: none;
    }

}


.fixed-btn{
    position: fixed;
    transform: translateX(150%);
    right: 10px;
    z-index: 99;
    background-color: #1a2980;
    border-radius: 60px;
    padding: 10px;
    border: 15px solid #b195e4;

    &__img{
        width: 30px;
        height: 26px;
    }

    &--order{
        top: 80px;
    }
    &--cellback{
        top: 190px;
    }
}